@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
  user-select: none;
  overflow-x: hidden;
  width: 100%;
  background-color: black;
}
@media screen and (max-width: 767px) {
  body {
    align-items: center;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* start of Navbar CSS*/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.2s;
}
.active {
  color: white;
}
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
span {
  font-size: 30px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
}
@media screen and (max-width: 767px) {
  span {
    display: block;
  }
}

.navbar {
  z-index: 1;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background: inherit;
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.leftnavbar {
  color: white;
  margin-top: -63px;
}
@media screen and (max-width: 767px) {
  .leftnavbar {
    margin-left: -30px;
  }
}
.centertnavbar {
  color: white;
  gap: 10px;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .centertnavbar,
  .btnfornavbar1,
  .btnfornavbar2 {
    display: none;
  }
}

.centertnavbar a {
  font-size: 21px;
  padding: 10px;
}
.centertnavbar a:hover {
 border-bottom: 2px solid #007bff;
}
.rightnavbar {
  color: white;
  display: flex;
  gap: 10px;
  margin-top: 25px;
}
.btnfornavbar1 {
  color: #f1f1f1;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 14px;
  padding-right: 14px;
  text-align: center;
  height: max-content;
  border-radius: 5px;
}
.btnfornavbar2 {
  color: #f1f1f1;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  height: max-content;
  border-radius: 5px;
}
.btnfornavbar1:hover {
  background-color: #ff5722;
  transition: 0.7s;
  color: white;
}
.btnfornavbar2:hover {
  background-color:#007bff;
  transition: 0.7s;
  color: white;
}
/* end of Navbar CSS*/

/* start of section CSS*/
.section {
  background-image: url("EMAPICTURES/IMG_8667.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  box-shadow: inset 0px 0px 0px transparent, inset 0px -80px 40px #000000;
  color: white;
}
@media screen and (max-width: 767px) {
  .section {
    height: 700px;
    background-image: url("EMAPICTURES/herores.jpg");
  }
}
.section h1 {
  font-size: 70px;
  margin-left: 60px;
  font-weight: 900;
}
@media screen and (max-width: 767px) {
  .section h1 {
    font-size: 55px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 30px;
    line-height: 60px;
  }
}
.section p {
  font-size: 30px;
  margin-left: 60px;
  width: 600px;
  margin-top: -30px;
}
@media screen and (max-width: 767px) {
  .section p {
    font-size: 20px;
    width: 350px;
    margin-left: 15px;
  }
}
.getaticketbtn{
  background-color: #007bff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  width: max-content;
  margin-left: 60px;
}
.getaticketbtn:hover{
  background-color: transparent;
  border: 2px solid #007bff;
}
.section h3{
  margin-left: 60px;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .section h3{
    font-size: 20px;
    width: 350px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 767px) {
  .getaticketbtn{
    font-size: 20px;
    width: 250px;
    margin-left: 15px;
    margin-top: 40px;
  }
}
/* end of section CSS*/

/* start of section1 CSS*/
.section1 {
  background-color: #000000;
  height:820px;
  box-shadow: inset 0px 0px 0px none, inset 0px -80px 40px none;
}
@media screen and (max-width: 767px) {
  .section1 {
    height: 750px;
  }
}
.about {
  background-color: white;
  color: black;
  width: 1100px;
  height: 120px;
  left: 0;
  height: max-content;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .about {
    width: 100%;
    height: 290px;
  }
}
.about h2 {
  font-size: 17px;
  margin-left: 40px;
  width: 1000px;
}
@media screen and (max-width: 767px) {
  .about h2 {
    width: 90%;
    font-size: 13px;
    margin-left: 20px;
  }
}
.section1 h1 {
  font-size: 60px;
  margin-left: 40px;
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .section1 h1 {
    width: 90%;
    font-size: 30px;
    margin-top: 60px;
    margin-left: 10px;
  }
}
.agen {
  display: inline-block;
  margin-left: 20px;
}
.agendaall {
  display: flex;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  gap: 20px;
  height: 190px;
}
.agendaall::-webkit-scrollbar {
  display: none;
}
.agendaall a {
  white-space: normal;
}
.agenda {
  background-color: transparent;
  padding: 25px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  width: max-content;
  box-shadow: 0px 4px 6px #888;
  text-align: center;
}
.agenda:hover {
  color: gray;
}
/* end of section1 CSS*/

/* start of section2 CSS*/

/* end of section2 CSS*/

/* start of section3 CSS*/

/* start of section3 CSS*/
